In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
s = df["Name"]

In [12]:
len(s)

891

In [13]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [14]:
s1 = df["Name"][0:10]

In [15]:
s1

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [21]:
type(s)

pandas.core.series.Series

In [22]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [28]:
pd.Series(s1,index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [32]:
s3=pd.Series(list(s1),index=l)

In [33]:
s1[0]

'Braund, Mr. Owen Harris'

In [34]:
s3['a']

'Braund, Mr. Owen Harris'

In [35]:
s3[0]

'Braund, Mr. Owen Harris'

In [37]:
s4=s1.append(s3)

/tmp/ipykernel_159/2573398219.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4=s1.append(s3)

In [38]:
s4[0]

'Braund, Mr. Owen Harris'

In [39]:
s4['a']

'Braund, Mr. Owen Harris'

In [41]:
s5=pd.Series([2,3,5,6,7,8],index = [9,8,7,6,5,4])

In [42]:
s6=pd.Series([26,83,59,36,75,80],index = [9,3,7,2,7,4])

In [43]:
s6.append(s5)

/tmp/ipykernel_159/2239679306.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6.append(s5)

9    26
3    83
7    59
2    36
7    75
4    80
9     2
8     3
7     5
6     6
5     7
4     8
dtype: int64

In [44]:
s6[7]

7    59
7    75
dtype: int64

In [45]:
s5*s6

2      NaN
3      NaN
4    640.0
5      NaN
6      NaN
7    295.0
7    375.0
8      NaN
9     52.0
dtype: float64

In [46]:
s5 + s6

2     NaN
3     NaN
4    88.0
5     NaN
6     NaN
7    64.0
7    80.0
8     NaN
9    28.0
dtype: float64